In [2]:
set = {1,3,12,1,2,4,5,6,3,5,1,6}
print(set)

{1, 2, 3, 4, 5, 6, 12}

In [3]:
(2**3)

8

In [57]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555

In [27]:
a=30
if a>=30 and a<50 :
    print("HEllo")
else:
    print("bye")

HEllo

In [30]:
a =10
b=7
print(a^b)
print(a|b)

13
15

In [33]:
a=5
if a in set:
    print("Yes")
else:
    print("YESYSYYSYSYSYS")

Yes

In [37]:
def my_function():
    print()
    local_var = "I am local"
   
    print(local_var)  # Can access local_var here

my_function()

I am local

In [41]:
sorted(set)

[1, 2, 3, 4, 5, 6, 12]

In [50]:
print(f'{set} "hi"')

{1, 2, 3, 4, 5, 6, 12} "hi"

In [54]:
s = "vishal"
b=s.swapcase
print(b)

<built-in method swapcase of str object at 0x7fb2685470b0>

In [ ]:
__prinncipleAmout = 123454

a=__prinncipleAmout

In [59]:
person = {'first_name':'Mohan',
          'last_name':'Sharma',
          'age':25,
          'country':'India',
          'is_married':False,
          'skills':['C', 'C++', 'Python'],
          'address':{'street':'ABC street',
                     'zipcode':'123456'
                    }
         }
# for key in person:
#     print(f'key: {key}')
print ('-'*50)
for key, value in person.items():
    print(f'Key: {key}| Value: {value}')

--------------------------------------------------
Key: first_name| Value: Mohan
Key: last_name| Value: Sharma
Key: age| Value: 25
Key: country| Value: India
Key: is_married| Value: False
Key: skills| Value: ['C', 'C++', 'Python']
Key: address| Value: {'street': 'ABC street', 'zipcode': '123456'}

In [64]:
for i in range(8,1,-2):
    print(i)

8
6
4
2

In [65]:
for skill in person['skills']:
            print(skill)

C
C++
Python

In [79]:

for key in person:
    if(key=="skills"):
        print("hiiiiiiiiiiiiiiiii")


skills="Python"
if skills in person["skills"]:
    print("hiiii")

hiiiiiiiiiiiiiiiii
hiiii

In [84]:

def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False
    

print(iter(skills))

<str_iterator object at 0x7fb2684ad300>